.c-nav {
    background-color: $primary-gray;
    color: $primary-black;
    margin-top: 0px;
    

    .c-nav-list {
        list-style: none;
        display: flex;

        .c-nav-list-item {
            padding: 22px;
            font-family: "Gotham-Bold";
            //font-family: "Verdana";
            //font-weight: bold;

            &:hover {
                background-color: $primary-white;
                cursor: pointer;
            }
        }
    }
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.reset-float {
  clear: both;
}

.search-logo {
  padding: 0;
  height: 15px;
}

ul {
  margin:0px;
}