.c-nav {
    background-color: $primary-gray;
    color: $primary-black;
    margin-top: 0px;
    

    .c-nav-list {
        list-style: none;
        display: flex;

        .c-nav-list-item {
            padding: 22px;
            font-family: "Gotham-Bold";
            //font-family: "Verdana";
            //font-weight: bold;

            &:hover {
                background-color: $primary-white;
                cursor: pointer;
            }
        }
    }
}

.nav-left {
  align-items: left;
  //align-self: left;
  //float: left;
}

.nav-right {
  align-items: right;
  //align-self: right;
  //float: right;
}

.app {
    margin-top: 0px;
}

#header {
    position: relative;
    margin: 0;
    padding-top: 0px;
    background-color: $primary-blue;
  }

body{
  margin:0px;
}

nav {
  margin:0px;
}

div {
  margin:0px;
}

template {
  margin: 0px;
}

html {
  margin:0px;
}

ul {
  margin:0px;
}