.ranking-frame {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.ranking-text {
    margin-left: 10%;
    font-family: "Gotham-Bold";
    font-weight: bold;
    font-size: 20px;
}

.ranking-title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Gotham-Bold";
    font-weight: bold;
    font-size: 40px;
}